
.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white;
  }
  
  .header-esquerdo, .header-direito, .header-center {
    height: 90%;
    font-size: 62.5%;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-center{
    font-family: 'Sedgwick Ave Display', cursive;
    letter-spacing: -15px;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
  }
  .header-esquerdo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 62.5%;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .header-bar{
    content: '';
    width: 16px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
  }
  .header-menu {
    margin-bottom: 5px;
    cursor: default;
  }
  
  .header-bar p {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    border-bottom: 0.5px solid white;
    box-shadow:  1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(232, 228, 228), 0 0 0.1em white;
  }
  
  .header-direito a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(232, 228, 228), 0 0 0.1em white;
  }
  
  .header-bar:hover{
    opacity: 0.5;
  }
  .header-center:hover{
    cursor: default;
  }
  .header-direito a:hover {
    opacity: 0.5;
  }